<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Road+Rage&display=swap" rel="stylesheet">
</head>

<section id="home" class="d-flex text-center">
  <div class="container">

    <div class="vertical-line">&nbsp;</div>

    <div class="logo">
      <img src="../../assets/genussalle_logo.png" alt="">
    </div>

    <div class="vertical-line2">&nbsp;</div>

    <div class="row">
      <div class="col-12">
        <p class="home-custom-by">Auf der Suche in den Gassen und Straßen, in der Shopping Mall oder Online was für eine
          Qual. Ich will doch nur was mir gefällt, meinen Freunden und Liebsten passt - aber immer suche ich noch ohne
          Rast. Siehe da, richtig eingekehrt in die Genuss Allee - findet man für alle Genießer was - regional und das
          auch mit schönen Bouquet.
        </p>
      </div>
    </div>

    <div class="vertical-line3">&nbsp;</div>
  </div>
</section>
