<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Road+Rage&display=swap" rel="stylesheet">
</head>

<section id="info" class="d-flex text-center">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <p class="home-custom-by2 mt-5">
          Wo findet ihr die Genuss Allee?
        </p>
        <p class="home-custom-by">
          In der SCS (im 2 Stock im Durchgang bei Le Burger und Berschka) kehr man in die Genuss Allee. Die Pakete
          können hier direkt gekauft werden oder auf Bestellung abgeholt werden.
        </p>
      </div>
    </div>

    <div class="vertical-line2">&nbsp;</div>

    <div class="row">
      <div class="col-12">
        <p class="home-custom-by2">
          Gerne zugestellt.
        </p>
        <p class="home-custom-by">
          Ab 10 bestellten Paketen stellen wir gerne auch zu. Ab dem 01.12.23 können wir Zustellungen* vereinbaren
          (*gilt nur für Graz und Umgebung max 5km rund um Graz)
        </p>
      </div>
    </div>

    <div class="vertical-line3">&nbsp;</div>
  </div>
</section>
