<section id="second" class="section-padding">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 order-md-2">
        <img src="../../assets/sweet-temptation.jpg" alt="">
      </div>
      <div class="col-lg-5 order-md-1">

        <div class="d-flex pt-10 mb-3 mt-4">
          <div>
            <div class="mb-4">
              <img src="../../assets/logo_sweet-temptation.png" alt="">
            </div>
            <p>
              „Eine Verführung der Sinne mit lieblichen
              und süßen Aromen von bekannt und neuen
              Genussmomenten, fein selektiert,
              zusammengestellt und charmant
              verpackt.“
              <br>
              <br>
              Inhalt:<br>
              Grazider Raffiné Apfelschaumwein 0,75l<br>
              Grazer Schlossbergstollen 190g<br>
              Lebkuchen Likör 200ml<br>
              Uhrturm Bratapfelschoko 200g<br>
              Zwetschgenröstern 180g<br>
              Schokolierte Kürbis Knabberkerne<br>
              Christbaumkugel im Überraschungsdesign<br>
              <br>
              <br>
              Preis p. Paket <span class='price'>€ 49,-</span> inkl MwSt.
            </p>
            <li class="link"><a (click)="inView()" routerLink="/contact" routerLinkActive="active">Gleich bestellen</a></li>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
