#second {
  background-color: black!important;
  background-size: cover;
}

.price{
  font-size: 45px;
}

a{
  color: white;
}

.link{
  color: white;
  text-decoration: underline;
  list-style-type: none;
  font-size: 25px;
}

@media only screen and (max-width: 768px) {

  p{
    font-size: 15px;
  }

  .price{
    font-size: 35px;
  }

  .link{
    text-decoration: underline;
    list-style-type: none;
    font-size: 20px;
  }
}

@media only screen and (max-width: 450px) {

  p{
    font-size: 12px;
  }

  .price{
    font-size: 20px;
  }

  .link{
    text-decoration: underline;
    list-style-type: none;
    font-size: 15px;
  }

}
