<section id="third" class="section-padding">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6">
        <img src="../../assets/spirit-in-the-sky.jpg" alt="">
      </div>
      <div class="col-lg-5">
        <div class="d-flex pt-10 mb-3 mt-4">
          <div>

            <div class="mb-4">
              <img src="../../assets/logo_spirit-in-the-sky.png" alt="">
            </div>

            <p>
              „Duft und Dunst im Einklang betören, beleben
              verschleiern den Gaumen, fein selektiert,
              zusammengestellt und charmant
              verpackt.“
              <br>
              <br>
              Inhalt:<br>
              Grazider Raffiné Apfelschaumwein 750 ml<br>
              Bevog Rasperry 330 ml<br>
              Palz Haselnusssnchaps 200 ml<br>
              Apple Qi Gin 200 ml<br>
              Trinkspiel<br>
              Christbaumkugel im Überraschungsdesign<br>
              <br>
              <br>
              Preis p. Paket <span class='price'>€ 49,-</span> inkl MwSt.
            </p>
            <li class="link"><a (click)="inView()" routerLink="/contact" routerLinkActive="active">Gleich bestellen</a></li>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
